Repository nat212/draperweb_phx: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, format

lefthook.yml:

# EXAMPLE USAGE:
#
#   Refer for explanation to following link:
#   https://github.com/evilmartians/lefthook/blob/master/docs/configuration.md
#
pre-push:
  commands:
    test:
      tags: backend tests
      run: MIX_ENV=test mix test

pre-commit:
  parallel: true
  commands:
    eslint:
      tags: assets style
      root: "assets/"
      glob: "*.{js,ts}"
      run: npx eslint --fix {staged_files} && git add {staged_files}
    prettier:
      tags: assets style
      root: "assets/"
      glob: "*.{js,ts,json,html,css,scss}"
      run: npx prettier --write {staged_files} && git add {staged_files}
    format:
      tags: backend style
      glob: "*.{ex,exs}"
      run: mix format {staged_files} && git add {staged_files}

Add glob for tests
  lefthook.yml
Due: none

Add assent
  lefthook.yml
  mix.exs
  mix.lock
Due: format

Add assent configuration + dotenvy
  .env.test
  .gitignore
  .vscode/launch.json
  config/runtime.exs
  mix.exs
  mix.lock
Due: format

Add gitleaks
  .devcontainer/devcontainer.json
  gitleaks.toml
  lefthook.yml
Due: none

Add pow and pow assent
  config/config.exs
  lib/draperweb_phx/user_identities/user_identity.ex
  lib/draperweb_phx/users/user.ex
  lib/draperweb_phx_web/endpoint.ex
  lib/draperweb_phx_web/router.ex
  mix.exs
  mix.lock
  priv/repo/migrations/20230830085534_create_users.exs
  priv/repo/migrations/20230830092944_create_user_identities.exs
Due: format

Add auth config
  config/runtime.exs
  lib/draperweb_phx/providers/draper_auth.ex
Due: format

Fix page controller test
  test/draperweb_phx_web/controllers/page_controller_test.exs
Due: format

Add auth templates
  .gitignore
  .vscode/launch.json
  assets/.eslintrc.js
  assets/css/app.css
  assets/package-lock.json
  assets/package.json
  assets/tailwind.config.js
  config/config.exs
  lefthook.yml
  lib/draperweb_phx_web/components/core_components.ex
  lib/draperweb_phx_web/components/layouts/app.html.heex
  lib/draperweb_phx_web/components/layouts/root.html.heex
  lib/draperweb_phx_web/components/layouts/session.html.heex
  lib/draperweb_phx_web/controllers/pow/registration_html.ex
  lib/draperweb_phx_web/controllers/pow/registration_html/edit.html.heex
  lib/draperweb_phx_web/controllers/pow/registration_html/new.html.heex
  lib/draperweb_phx_web/controllers/pow/session_html.ex
  lib/draperweb_phx_web/controllers/pow/session_html/new.html.heex
  lib/draperweb_phx_web/controllers/pow_assent/registration_html.ex
  lib/draperweb_phx_web/controllers/pow_assent/registration_html/add_user_id.html.heex
  lib/draperweb_phx_web/router.ex
  priv/static/.gitignore
  priv/static/images/bushy-transparent.png
  priv/static/images/login-bg.png
Due: eslint, prettier, format

Add bare .env to gitignore
  .gitignore
Due: none

Add npm install step
  mix.exs
Due: format

Add defaults for client ID and client secret to prevent setup errors
  config/runtime.exs
Due: format

Fix alert showing on page refresh
  lib/draperweb_phx_web/components/core_components.ex
Due: format

Fix styling of login card + add bush
  lib/draperweb_phx_web/controllers/pow/session_html/new.html.heex
Due: none

Add actions
  .github/workflows/ci.yml
  .github/workflows/deploy-dev.yml.disabled
  .github/workflows/deploy-prod.yml.disabled
  .github/workflows/kickoff-release.yml.disabled
  .github/workflows/start-runner.yml.disabled
  .github/workflows/stop-runner.yml.disabled
Due: none

Remove job matrix
  .github/workflows/ci.yml
Due: none

Configure node version with ENV
  .github/workflows/ci.yml
Due: none

Add gitleaks license
  .github/workflows/ci.yml
Due: none

Rename gitleaks.toml to .gitleaks.toml to use as default
  .gitleaks.toml
  lefthook.yml
Due: none

fix: ci for github
  .github/workflows/ci.yml
Due: none

fix: remove ImageOS and home
  .github/workflows/ci.yml
Due: none

fix: add fetch depth to checkout
  .github/workflows/ci.yml
Due: none

fix: formatting of files
  config/prod.exs
  lib/draperweb_phx_web/controllers/pow/registration_html/edit.html.heex
  lib/draperweb_phx_web/controllers/pow/registration_html/new.html.heex
  lib/draperweb_phx_web/controllers/pow/session_html/new.html.heex
  lib/draperweb_phx_web/controllers/pow_assent/registration_html/add_user_id.html.heex
  test/draperweb_phx_web/controllers/error_html_test.exs
Due: format

fix: broken lefthook install on macos
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .tool-versions
Due: none

Add app layout
  lib/draperweb_phx_web/components/layouts/app.html.heex
  lib/draperweb_phx_web/controllers/page_controller.ex
  lib/draperweb_phx_web/controllers/page_html/home.html.heex
Due: format

feat: app layout complete
  assets/package-lock.json
  assets/package.json
  lib/draperweb_phx_web/components/layouts/app.html.heex
  lib/draperweb_phx_web/controllers/page_controller.ex
Due: prettier, format

Fix formatting
  lib/draperweb_phx_web/controllers/page_html/home.html.heex
Due: none

Add heex to formatting on commit
  lefthook.yml
Due: none

Add basic budget stuff
  lib/draperweb_phx/budgets.ex
  lib/draperweb_phx/budgets/budget.ex
  priv/repo/migrations/20231010061631_create_budgets.exs
  test/draperweb_phx/budgets_test.exs
  test/support/fixtures/budgets_fixtures.ex
Due: format

Fix budget tests
  lib/draperweb_phx/budgets.ex
  lib/draperweb_phx/budgets/budget.ex
  test/draperweb_phx/budgets_test.exs
  test/support/fixtures/budgets_fixtures.ex
Due: format
